---
layout: default
moreexists: false
showfeed: true
permalink: /about
title: About
includecss: aesthic.css
---
<div class="container">
    <div class="columns">
        <div class="column is-5" style="padding: 1em;">
            <h1 class="thick-text">History</h1>
            <p>The Agency at Georgia Tech was founded in early 2013 when a
            likeminded group of students decided that they wanted to build a
            self driving car. Jesse Rosalia, Rachel Clark, Alex Linton, and a
            few friends petitioned the College of Computing for funding, bought
            a power wheels, and through sheer grit and determination managed to
            get computing hardware and actuators mounted on it.</p>
            <br/>
            <p>By Fall 2014, the club had partnered with the Robojackets to
            build a new, larger vehicle: Buzzmobile. It became the club’s
            main development platform, and successfully<sup>1</sup> drove itself
            in the 2014 Ramblin’ Reck’ Homecoming Parade.</p>
            <br/>
            <p>Since 2014, the club has grown. The founders all graduated, and
            the new leadership focused on teaching students about general AI and
            machine learning instead of just autonomous vehicles. That generation
            also graduated, and has gone off to work on exciting research problems
            in industry.</p>
            <br/>
            <p>Currently, our club is at its largest. The new
            <a href="http://ml.gatech.edu/">ML@GT</a> unit has given our club
            members access to advanced talks from outside researchers, and
            provided a great resource for our members interested in
            undergraduate research. As a club, we've partnered with other
            campus organizations to enhance the student experience through events
            like ML workshops and a Grad School Interest dinner. More exciting
            collaborations are in the works!</p>
            <br/>
            <small><sup>1</sup> mostly</small>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column" style="padding: 1em;">
                    <h1 class=" thick-text">Resources</h1>
                    <div class="columns">
                        <div class="column">
                            <em>Check Slack and FB for location updates!</em>
                            <ul>
                                <li>
                                    <h2><b>Project Meeting:</b></h2>
                                    <p>Tuesdays 6:30 Klaus 1456</p>
                                </li>
                                <li>
                                    <h2><b>Lecture Meeting:</b></h2>
                                    <p>Wednesdays 6:30 Klaus 1456</p>
                                </li>
                                <li>
                                    <h2><b>Deep Learning Reading Group:</b></h2>
                                    <p>Alternating Wednesdays 7:30 Klaus 1456</p>
                                </li>
                            </ul>
                        </div>
                        <div class = "column has-text-left">
                            <ul>
                                <li>
                                    <a href="https://gtagency.slack.com">
                                        <i class="fa fa-slack" aria-hidden="true"></i> Agency Slack
                                    </a> for updates/discussions.
                                </li>
                                <li>
                                    <a href="https://facebook.com/gtagency">
                                        <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                    </a> for meeting announcements.
                                </li>
                                <li>
                                    <a href="https://github.com/gtagency">
                                        <i class="fa fa-github" aria-hidden="true"></i> Github
                                    </a> for the sweet source code.
                                </li>
                                <li>
                                    <a href="https://drive.google.com/drive/folders/0B2hjlO2NzFMqNWo4UThpVW5kSGM">
                                        <i class="fa fa-google" aria-hidden="true"></i> Google Drive
                                    </a> for lectures and other resources.
                                </li>
                                <li>
                                    <a href="mailto:contactgtagency@gmail.com">
                                        <i class="fa fa-envelope" aria-hidden="true"></i> Email
                                    </a> for contacting us (or contact the officers).
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2><b>ML@GT</b></h2>
                    <div class="columns">
                        <div class="column" style="padding: 1em; background: none !important;">
                            <ul>
                            <li>
                                    <a href="http://ml.gatech.edu">
                                        <i class="fa fa-cogs" aria-hidden="true"></i> ML@GT Website
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mlatgt.blog">
                                        <i class="fa fa-rss" aria-hidden="true"></i> ML@GT Blog
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="column" style="padding: 1em;">
                            <ul>
                            <li>
                                    <a href="https://mlatgt.slack.com">
                                        <i class="fa fa-slack" aria-hidden="true"></i> ML@GT Slack
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mailman.cc.gatech.edu/mailman/listinfo/ml-students">
                                        <i class="fa fa-envelope" aria-hidden="true"></i> ML@GT Mailing List
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column" style="padding: 1em;">
                    <h1 class=" thick-text">Current Officers</h1>
                    <ul>
                        <li>
                            <h2><b>External Relations</b> </br> <a href="https://github.com/agaction">Akhil Goel</a></h2>
                            <p><p>
                        </li>
                        <li>
                            <h2><b>Internal Operations</b> </br> <a href="https://github.com/nthistle">Neil Thistlethwaite</a></h2>
                            <p>The GAN man</p>
                        </li>
                        <li>
                            <h2><b>Vice Internal Operations</b> </br> <a href="https://skyline-9.github.io/">Richard Luo</a></h2>
                            <p></p>
                        </li>
                        <li>
                            <h2><b>Secretary</b> </br> <a href="">Gautham Gorti</a></h2>
                            <p><p>
                        </li>
                        <li>
                            <h2><b>Treasurer</b> </br> <a href="google.com">Vivek Vijaykumar</a></h2>
                            <p></p>
                        </li>
                        <li>
                            <h2><b>Communications</b> </br> <a href="google.com">Ganesh Murugappan</a></h2>
                            <p></p>
                        </li>
                    </ul>
                </div>
                <div class="column" style="padding: 1em;">
                    <h1 class="thick-text">Notable Alumni</h1>
                    <ul>
                        <li>
                            <h2><a href="https://anishthite.github.io">Anish Thite</a></h2>
                            <p>External Relations</p>
                        </li>
                        <li>
                            <h2><a href="http://sahitc.com">Sahit Chintalapudi</a></h2>
                            <p>Internal Operations</p>
                        </li>
                        <li>
                            <h2><a href="https://github.com/william-crawford">Will Crawford</a></h2>
                            <p>External Operations</p>
                        </li>
                        <li>
                            <h2><a href="http://pek.is">Arda Pekis</a></h2>
                            <p>Treasurer</p>
                        </li>
                        <li>
                            <h2><a href="http://github.com/vawilson">Valentine Wilson</a></h2>
                            <p>External Operations</p>
                        </li>
                        <li>
                            <h2><a href="http://marcmarone.com/">Marc Marone</a></h2>
                            <p>Internal Operations</p>
                        </li>
                        <li>
                            <h2><a href="http://raphagl.com/">Raphael Gontijo Lopes</a></h2>
                            <p>External Relations</p>
                        </li>
                        <li>
                            <h2><a href="http://d2d.sh/">Diptodip Deb</a></h2>
                            <p>Internal Operations</p>
                        </li>
                        <li>
                            <h2><a href="https://joshuamorton.github.io/">Josh Morton</a></h2>
                            <p>External Relations</p>
                        </li>
                        <li>
                            <h2><a href="http://thomasshields.net/">Thomas Shields</a></h2>
                            <p>Internal Operations</p>
                        </li>
                        <li>
                            <h2><a href="https://github.com/nickbjohnson4224">Nick Johnson</a></h2>
                            <p>(Founding Member)</p>
                        </li>
                        <li>
                            <h2><a href="https://github.com/theJenix">Jesse Rosalia</a></h2>
                            <p>External Relations (Founding Member)</p>
                        </li>
                        <li>
                            <h2><a href="https://github.com/roaclark">Rachel Clark</a></h2>
                            <p>External Relations (Founding Member)</p>
                        </li>
                        <li>
                            <h2><a href="https://github.com/lexlinton">Alex Linton</a></h2>
                            <p>Internal Operations (Founding Member)</p>
                        </li>
                        <li>
                            <h2><a href="http://www.jasminelawrence.com/">Jasmine Lawrence</a></h2>
                            <p>External Relations (Founding Member)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section>
        <h1 class=" thick-text center-text matched-padding padded">Photos</h1>
        <div class="columns is-multiline">
            {% assign sorted_files = site.static_files | sort: 'name' | reverse %}
            {% for photo in sorted_files %}
            {% if photo.path contains 'photos/' %}
            <div class="column is-4 container padded">
                <figure>
                    <img src="{{ site.baseurl }}{{ photo.path }}"></img>
                </figure>
            </div>
            {% endif %}
            {% endfor %}
            {% for vid in site.data.videos %}
            <div class="column is-4 container padded">
                {{ vid.embed }}
            </div>
            {% endfor %}
        </div>
    </section>
</div>
