---
layout: default
moreexists: false
showfeed: true
permalink: /about
title: About
includecss: aesthic.css
---
<div class="container">
    <div class="columns">
        <div class="column is-5" style="padding: 1em;">
            <h1 class="thick-text">History</h1>
            <p>Coming soon!</p>
        </div>
        <div class="column" style="padding: 1em;">
            <h1 class=" thick-text">Current Officers</h1>
            <ul>
                <li>
                    <h2><b>External Affairs</b> </br> <a href="http://raphagl.com">Raphael Gontijo Lopes</a></h2>
                    <p>Making machines self-aware.</p>
                </li>
                <li>
                    <h2><b>Internal Affairs</b> </br> <a href="https://diptodip.github.io">Diptodip Deb</a></h2>
                    <p>(ML &#8746; theory) &#8745; bio. </p>
                </li>
                <li>
                    <h2><b>Treasurer</b> </br> <a href="http://marcmarone.com/">Marc Marone</a></h2>
                    <p>Human TA &8614; Robot TA.</p>
                </li>
                <li>
                    <h2><b>Secretary</b> </br> <a href="https://github.com/chsahit">Sahit Chintalapudi</a></h2>
                    <p>Deep dreaming of ROSLISP.</p>
                </li>
                <li>
                    <h2><b>Communications</b> </br> <a href="https://github.com/vawilson">Valentine Wilson</a></h2>
                    <p>Indescribable.</p>
                </li>
            </ul>
        </div>
        <div class="column" style="padding: 1em;">


            <h1 class="thick-text">Noteable Alumni</h1>

            <ul>
                <li>
                    <h2><a href="https://github.com/theJenix">Jesse Rosalia</a></h2>
                    <p>External Relations (Founding Member)</p>
                </li>
                <li>
                    <h2><a href="https://github.com/roaclark">Rachel Clark</a></h2>
                    <p>External Relations (Founding Member)</p>
                </li>
                <li>
                    <h2><a href="https://joshuamorton.github.io/">Josh Morton</a></h2>
                    <p>External Relations</p>
                </li>
            </ul>
        </div>
    </div>
	<section>
		<h1 class=" thick-text center-text matched-padding padded">Photos</h1>
		<div class="columns is-multiline">
		{% for photo in site.static_files %}
			{% if photo.path contains 'photos/' %}
				<div class="column is-4 container padded">
					<figure>
						<img src="{{ site.baseurl }}{{ photo.path }}"></img>
					</figure>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</section>
</div>
