---
layout: default
moreexists: false
title: Projects
permalink: /projects
title: Projects
---
<h1 class="thick-text has-text-centered padded">Ongoing</h1>
<div class = "columns is-multiline">
    <div class = "column is-4 container padded">
        <h2 class = "thick-text"><a href="https://github.com/gtagency/buzzmobile">Buzzmobile</a></h2>
        <p>Buzzmobile is our autonomous car project. This was the Agency's
        founding project. It has gone through a number of iterations and its
        scale has increased since the club's founding.</p>
    </div>
    <div class = "column is-4 container padded">
        <h2 class = "thick-text"><a href="https://github.com/gtagency/HALite_9000">Halite</a></h2>
        <p>Halite is a competition hosted by the Agency where bots fight for
        control of a 2D grid. The bot with the most territory at the end
        wins..</p>
    </div>
</div>

<h1 class="thick-text has-text-centered padded">Past Projects</h1>
<div class = "columns is-multiline">
    <div class = "column is-4 container padded">
        <h2 class = "thick-text">2016 &mdash; <a href="https://github.com/gtagency/newage-lateral-piping">Natural Language Processing</a></h2>
        <p>Natural language processing experiments with the goal of having an
        RNN successfully answer analogy questions.</p>
    </div>
    <div class = "column is-4 container padded">
        <h2 class = "thick-text">2016 &mdash; <a href="https://github.com/gtagency/nn-hyper-octopus">Neural Network Hyperparameter Optimization</a></h2>
        <p>Optimizing hyperparameters in order to understand how neural
        networks work and how we can make them better.</p>
    </div>
    <div class = "column is-4 container padded">
        <h2 class = "thick-text">2015 &mdash; <a href="https://github.com/gtagency/tetris-java">Tetris Bot</a></h2>
        <p>We competed amongst ourselves to see which group, the 
        <a href="https://github.com/gtagency/tetris-java">Java enthusiasts</a> 
        or the <a href="https://github.com/gtagency/tetris-python">Pythonistas</a> 
        could build the better Tetris-playing agent in the 
        <a href="http://theaigames.com/competitions/ai-block-battle">AI Block Battle</a>.</p>
        </div>
        <div class = "column is-4 container padded">
        <h2 class = "thick-text">2015 &mdash; IARRC </h2>
        <p>IARRC stands for the International Autonomous Robot Racing
        Competition. We were brought on to improve the software for one of the
        Robojacket's projects (the robotics team at GT). The robot performed
        admirably, and we are taking our lessons learned from this project into
        Buzzmobile.</p>
        </div>
        <div class = "column is-4 container padded">
        <h2 class = "thick-text">2014 &mdash; <a href="https://github.com/gtagency/graph-reduction">Graph Reduction</a></h2>
        <p>A tool to make graphs look pretty.</p>
        </div>
        <div class = "column is-4 container padded">
        <h2 class = "thick-text">2014 &mdash; Music Generator</h2>
        </div>
        <div class = "column is-4 container padded">
        <h2 class = "thick-text">2014 &mdash; Who Are You</h2>
        </div>
        <div class = "column is-4 container padded">
        <h2 class = "thick-text">2013 &mdash; CSPScheduler</h2>
        </div>
        <div class = "column is-4 container padded">
        <h2 class = "thick-text">2013 &mdash; GTNow</h2>
        </div>
</div>
<!---
<div class = "columns is-multiline">
    {% for project in site.static_files %}
        {% if photo.path contains 'projects-files/' %}
            <div class = "column is-4 container padded">
                f
            </div>
        {% endif %}
    {% endfor %}
</div>
!-->


<!---

Our past projects:


- Ongoing
- [Buzzmobile](https://github.com/gtagency/buzzmobile), our autonomous car project. This was the Agency's founding project. It has gone through a number of iterations and its scale has increased since the club's founding.

- 2016 Academic Year
- [Natural language processing experiments](https://github.com/gtagency/newage-lateral-piping), with the goal of having an agent successfully answer analogy questions
- [Neural Network Hyperparameter Optimization](https://github.com/gtagency/nn-hyper-octopus), to understand how neural networks work, and how we can make them work better

- 2015 Academic Year
- Tetris-Bot, we competed amongst ourselves to see which group, the [java-enthusiasts](https://github.com/gtagency/tetris-java) or the [pythonistas](https://github.com/gtagency/tetris-python), could build the better tetris-playing agent in the [the AI Block Battle](http://theaigames.com/competitions/ai-block-battle).
- IARRC, the International Autonomous Robot Racing Competition. We were brought on to improve the software for one of the Robojacket's projects, the bot performed admirably, and we are taking our lessons learned and tying them back into Buzzmobile.

- 2014 Academic Year
- [Graph-Reduction](https://github.com/gtagency/graph-reduction), a tool to make graphs look pretty
- Music-Generator
- Whoareyou

- 2013 Academic Year
- CSPScheduler
- GTNow
!--->
