<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <a href="https://github.com/gtagency" style="padding-right: 5px; font-size: 1.5em !important;"><span class="fa fa-github footer-icon"></span></a>
            <a href="https://upload.wikimedia.org/wikipedia/commons/3/34/Geoffrey_Hinton_at_UBC.jpg" style="padding-left: 5px; font-size: 1.4em !important;"><span class="fa fa-heart footer-icon"></span></a>
        </div>
    </div>
</footer>
