<nav class="nav">
    <div class="nav-center">
      <h1 style="font-style: normal;">{{ page.title }}</h1>
    </div>
    <div class="nav-center">
        <a class="nav-item" href="{{ "/" | prepend: site.baseurl }}">home</a>
        <a class="nav-item" href="{{ "/lectures" | prepend: site.baseurl }}">lectures</a>
        <a class="nav-item" href="{{ "/projects" | prepend: site.baseurl }}">projects</a>
        <a class="nav-item" href="{{ "/about" | prepend: site.baseurl }}">people</a>
    </div>
</nav>
