<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ page.title }}
        </title>
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="{{ "/octicons/octicons.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/aesthic.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/bulma.css" | prepend: site.baseurl }}">
        <meta charset="utf-8">
        <meta name="author" content="GT Agency">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}">
    </head>
    <body>
        <div id="wrapper">
            <div id="navigation" class="is-hidden-touch">
                {% include navbar.html %}
            </div>
            <div id="navigation_center" class="is-hidden-desktop">
                {% include navbar_center.html %}
            </div>
            <div id="content" class="container">
                <div class="center-text padded">
                    <h1>{{ page.title }}</h1>
                    <h2 style="display: inline-block;">{{ page.date | date: "%B %d, %Y" }}</h2>
                    <h3 style="display: inline-block;">&nbsp;|&nbsp;{{ page.author }}</h3>
                </div>
                <div class="post-width padded">
                    {{ content }}
                </div>
            </div>
        </div>
            <div id="footer-container">
                {% include footer.html %}
            </div>
            </div>
    </body>
</html>
